<h2>Product Details</h2>

<ul class="product">
    <li *ngFor="let product of products">
        <a routerLink="/detail/{{product.name}}">
            <span class="badge">{{product.id}}</span> {{product.name}} {{product.price}}$
        </a>
        <button type="button" class="delete" title="delete product"
            (click)="delete(product)">X</button>
    </li>
</ul>

<div>
    <label for="new-product">Product name: </label>
    <input id="new-product" #productName />
  
    <button type="button" class="add-button" (click)="add(productName.value); 
    productName.value=''">
      Add product
    </button>
</div>



